body {
font-family: Calibri;
}

p {
	color: black;
	font-family: Calibri;
	font-size: 15 px;
}

.indexbody {
	background-color: #79A9B8;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 2vh;
	border: 1px black solid;
}

.headerbody {
	background-color: #79A9B8;
	padding: 1em;
	grid-column-start: 1;
	grid-column-end: span 4;
}

.leftsidebar {
	background-color: #79A9B8;
	padding: 1 em;
	grid-column-start: 1;
	grid-column-end: span 2;
	text-align: justify;
}

.rightsidebar {
	background-color: #79A9B8;
	padding: 1 em;
	grid-column-start: 3;
	grid-column-end: span 2;
	text-align: justify;
}
	
.samplegrid-a {
	background-color: #79A9B8;
	padding: 1 em;
	grid-column-start: 1;
	grid-column-end: span 1;
}

.samplegrid-b {
	background-color: #79A9B8;
	padding: 1 em;
	grid-column-start: 2;
	grid-column-end: span 1;
}

.samplegrid-c {
	background-color: #79A9B8;
	padding: 1 em;
	grid-column-start: 3;
	grid-column-end: span 1;
}

.samplegrid-d {
	background-color: #79A9B8;
	padding: 1 em;
	grid-column-start: 4;
	grid-column-end: span 1;
}