body {
font-family: Calibri;
}

p {
	color: black;
	font-family: Calibri;
	font-size: 15 px;
	font-weight: bold;
}

.indexbody {
	background-color: #79A9B8;
}

.grid-container {
	display: grid;
	border: 1px black solid;
}

.headerbody {
	background-color: #79A9B8;
	padding: 1em;
	grid-column-start: 2;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 2;
	text-align: justify;
}
	
.leftsidebar {	
	background-color: #79A9B8;
	padding: 1em;
	text-align: justify;
}

.rightsidebar {	
	background-color: #79A9B8;
	padding: 1em;
	text-align: justify;
}